{% extends "admin/change_list.html" %} {% load i18n %} {% block result_list %}
{% csrf_token %}
<div class="form-group">
  <label for="notification">Select Notification: </label>
  <input type="hidden" name="selected_items" id="selected-items" />
  <select class="custom-select" name="notification" id="notification">
    <option selected>Select notification</option>
    {% for notification in notifications %}
    <option value="{{notification.id}}">{{notification.title}}</option>
    {% endfor %}
  </select>
</div>
{{block.super}} {% endblock %}
