{% extends "base.html" %}

{% block content %}
<div data-widget-type="entityStandings" data-entity-type="league" data-entity-id="595" data-lang="en" data-widget-id="31f378b0-e862-454f-aeb6-cbd037acc289"></div>
<div id="powered-by">Powered by<a id="powered-by-link" href="https://www.365scores.com" target="_blank">365Scores.com</a></div>
<script src="https://widgets.365scores.com/main.js"></script>
  <!-- <iframe src="https://www.scorebat.com/embed/league/euro2024/?token=MTMyNDUyXzE3MTk2MjA5NThfYzYxYjk5ZDI2MzYwNWY0YmExMTAxZmIxOTY4ZDkzMDI5N2M0ODc2OA==" frameborder="0" width="600" height="760" allowfullscreen allow='autoplay; fullscreen' style="width:100%;height:760px;overflow:hidden;display:block;" class="_scorebatEmbeddedPlayer_"></iframe> -->
{% endblock content %}